.card {
    min-height: 500px;
    max-height: 800px;
    overflow: hidden;
}

.cardHeaderWrap {
    height: 20%;
    min-height: 128px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardHeader {
    color: #000;
    line-height: 1.33rem;
    font-size: 1.6rem;
}

.cardHorizontalLine {
    height: 2rem;
}

.cardHorizontalLine span {
    color: #70e1f5;
    font-size: 2rem;
    font-weight: normal;
}

.cardSubheader {
    font-size: 1rem;
    line-height: 1rem;
    color: #7A7A7A;
}