#card3 {
  background: #fff;
}

.card3Wrap {
  height: 300px;
  margin: 0 1rem 0;
  text-align: center;
}

.labMainBody {
  height: 70%;
}

.labWrap {
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
}

.labWrap::-webkit-scrollbar {
  display: none;
}

.labItem {
  margin-top: 1rem;
  display: inline-block;
  height: 4.5rem;
  width: 12rem;
}

.labItem img {
  height: 4.5rem;
  max-width: 10rem;
}

.labApplyFor {
  /* 实验室没有填充满的时候的样式 */
  margin: 2rem;
  padding-top: .4rem;
}

.labApplyFor a {
  color: #36a2ff;
}
