

/* 第一页 */

section.cover .cover-main {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: -20px 16px 0;
  text-align: center;
  z-index: 1;
}

section.cover h1 {
  color: inherit;
  font-size: 40px;
  font-size: 2.5rem;
  font-weight: 300;
  margin: 10px 0 40px;
  margin: .625rem 0 2.5rem;
  position: relative;
  text-align: center;
}

section.cover h1 a {
  display: block;
}

section.cover a, section.cover a:hover {
  text-decoration: none;
}

.anchor span {
  color: #34495e;
}

section.cover h1 small {
  bottom: -7px;
  bottom: -.4375rem;
  font-size: 16px;
  font-size: 1rem;
  position: absolute;
}

section.cover blockquote {
  font-size: 24px;
  font-size: 1.5rem;
  text-align: center;
}

section.cover p {
  line-height: 24px;
  line-height: 1.5rem;
  margin: 1em 0;
}

section.cover ul {
  line-height: 1.8;
  list-style-type: none;
  margin: 1em auto;
  max-width: 500px;
  padding: 0;
}

section.cover .cover-main>p:last-child a:last-child {
  background-color: #42b983;
  background-color: var(--theme-color,#42b983);
  color: #fff;
  margin-right: 0;
}

section.cover .cover-main>p:last-child a {
  border-color: #42b983;
  border: 2px solid #fff;
  border-radius: 2rem;
  box-sizing: border-box;
  color: #42b983;
  color: var(--theme-color,#42b983);
  display: inline-block;
  font-size: 16.8px;
  font-size: 1.05rem;
  letter-spacing: 1.6px;
  letter-spacing: .1rem;
  margin-right: 16px;
  margin-right: 1rem;
  padding: .75em 32px;
  padding: .75em 2rem;
  text-decoration: none;
  transition: all .15s ease;
}

#pageOne {
  background: linear-gradient(to left bottom, hsl(244, 100%, 85%) 0%,hsl(77, 100%, 85%) 100%);
}

#dialog {
  /* display: none; */
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 1111;
}

@media screen and (max-width: 430px) {
  .ctdiv {
      position: fixed;
      top: 117px;
      right: 0;
      left: 0;
      bottom: 0;
      margin: auto;
      height: 100%;
      text-align: center;
  }

  #dialog img {
    width: 270px; /* 540px * 0.5 */
    height: 370px; /* 740px * 0.5 */
  }
  
  .ctdiv img {
    display: block;
    padding: 0 10px;
    margin: 15px auto;
  }
}

@media screen and (min-width: 430px) {
  .ctdiv {
    position: fixed;
    top: 80px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: 0px auto;
    height: 300px;
    text-align: center;
  }

  #dialog img {
    width: 432px; /* 540px * 0.85 */
    height: 592px; /* 740px * 0.85 */
  }

  .ctdiv img {
    display: block;
    padding: 0 10px;
    margin: 0 auto 30px;
  }
}

#closeJoinQR {
  display: inline-block;
  text-align: center;
  padding: 2.5px 0 0 0;
  height: 30px;
  width: 100px;
  border: 2px solid #fff;
  border-radius: 2rem;
  box-sizing: border-box;
  background-color: #42b983;
  transition: all .15s ease;
  color: #fff;
}

.filter {
  -webkit-filter: blur(10px);
  -moz-filter: blur(10px);
  -o-filter: blur(10px);
  -ms-filter: blur(10px);
  filter: blur(10px);
  -webkit-animation: row_ani 2s;
  -moz-animation: row_ani 2s;
  -ms-animation: row_ani 2s;
  animation: row_ani 2s;
  background-color: rgba(24, 24, 24, 0.42);
}

/* 第二页 */

#pageTwo {
  background: linear-gradient(to left bottom, hsl(244, 100%, 85%) 0%,hsl(77, 100%, 85%) 100%);
}

/* 第三页 */

#pageThree {
  background: linear-gradient(to left bottom, hsl(244, 100%, 85%) 0%,hsl(77, 100%, 85%) 100%);
}