#card3 {
  background: #fff;
}

.card3Wrap {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 1rem 0;
  text-align: center;
}

.laboratoryMainBody {
  width: 100vw;
  text-align: center;
}

.laboratoryWrap {
  width: 96%;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
}

.laboratoryWrap::-webkit-scrollbar {
  display: none;
}

.laboratoryItem {
  margin-top: 1rem;
  display: inline-block;
  height: 4.5rem;
  width: 12rem;
}

.laboratoryItem img {
  height: 4.5rem;
  max-width: 10rem;
}

.laboratoryApplyFor {
  /* 实验室没有填充满的时候的样式 */
  margin: 2rem;
  padding-top: .4rem;
}

.laboratoryApplyFor a {
  /* 实验室没有填充满的时候的样式 */
  color: #36a2ff;
}

.laboratoryApplyFor.full {
  display: none;
  padding-top: .4rem;
}