* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 430px) {
    html {
        font-size: 15px;
    }
}

@media screen and (max-width: 430px) {
    html {
        font-size: 10px;
    }
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #34495e;
    font-family: Source Sans Pro, Helvetica Neue, Arial,sans-serif;
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
}

div {
    display: block;
}

a {
    color: #34495e;
    text-decoration: none;
}

.card {
    height: 80vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.card#card3 {
    height: auto;
}

.cardHeaderWrap {
    height: 20vh;
}

.cardHeader {
    color: #000;
    line-height: 1.33rem;
    font-size: 1.6rem;
}

.cardHorizontalLine {
    height: 2rem;
}

.cardHorizontalLine span {
    color: #70e1f5;
    font-size: 2rem;
    font-weight: normal;
}

.cardSubheader {
    font-size: 1rem;
    line-height: 1rem;
    color: #7A7A7A;
}

@media screen and (min-width: 430px) {
    .cardHeader {
        padding: 5rem 0 .5rem 0;
    }
}

@media screen and (max-width: 430px) {
    .cardHeader {
        padding: 2rem 0 .5rem 0;
    }
}

.footer {
    position: relative;
    bottom: 0;
    line-height: 10vh;
    text-align: center;
    height: 10vh;
    width: 100vw;
    background-color: #08101b;
}

.footer a {
    color: #fff;
}