#card3 {
    background: #fff;
    min-height: 200px;
    max-height: 1600px;
}

.card3Wrap {
    text-align: center;
}

.labWrap {
    margin: 0 auto;
    max-width: 1200px;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.labItem {
    margin: 15px 10px 15px 10px;
    flex: 1;
    height: 60px;
    min-width: 200px;
    max-width: 200px;
    display: flex;
    align-items: center;
}

.labItem img {
    max-height: 60px;
    margin: 0 auto;
    max-width: 188px;
}

.labApplyFor {
    margin: 2rem;
    padding-top: .4rem;
}

.labApplyFor a {
    color: #36a2ff;
}
