#card2 {
    background: #F6F6F6;
    max-height: 2400px;
}

.card2Wrap {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    margin: 0 1rem 0;
    text-align: center;
}

.littleCardPageWrap {
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.littleCardPageWrap.hide {
    display: none;
}

.littleCardItemWrap {
    flex: 1;
    margin-bottom: 30px;
}

.littleCardItem {
    width: 18rem;
    min-height: 320px;
    background: white;
    display: inline-block;
    box-shadow: 3px 3px 30px 5px #242424;
}

.litterCardItemImgWrap {
    width: 18rem;
    height: 9rem;
}

.litterCardItemImgWrap img {
    width: 18rem;
    height: 9rem;
}

.littleCardItem h2 {
    margin: 1rem 0 1rem 0;
    font-size: 1.2rem;
    font-weight: bold;
}

.littleCardItem p {
    margin-top: 1rem;
    padding: 0 1rem 1rem 1rem;
    font-size: .9rem;
    line-height: 1rem;
    height: 5rem;
    overflow-x: hidden;
}

.littleCardItem span {
    height: 1.5rem;
    line-height: 1.5rem;
    border-radius: 2.25rem;
    font-size: .8rem;
    color: #9da0a7;
    border: 1px solid #9da0a7;
    padding: 6px 12px;
    cursor: pointer;
}

.littleCardPagination {
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.littleCardPagination button {
    margin: 0 5px;
    height: 12px;
    width: 12px;
    border-radius: 12px;
    border: 1px solid #bbbbbb;
    background-color: #bbbbbb;
    cursor: pointer;
}

.littleCardPagination .buttonActive {
    border: 1px solid #00c264;
    background-color: #00c264;
}

/* 小于 888px 时候，card2 的卡片变成一列的 */

@media all and (max-width: 888px) {
    .littleCardPageWrap {
        display: block;
    }

    .littleCardPageWrap.hide {
        display: block;
    }

    /* 隐藏分页切换卡按钮 */
    .littleCardPagination {
        display: none;
    }
}
