.box{
    overflow: auto;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    position: relative;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 2;
    height: 60px;
    /*background-color: #FAFAFA;*/
    color: #292E35;
}

.header__logo {
    float: left;
    height: 40px;
    margin: 10px 0px 0px 60px;
    padding: 0px 0px 0px 50px;
    background: url("../image/logo.png") left center no-repeat;
    display: block;
    font-size: 18px;
    line-height: 40px;
}

.header__nav {
    float: right;
    margin: 10px 10px 0px 0px;
    position: relative;
}

.header__nav-item:hover {
    color: #20A0FF;
}

.header__nav-item {
    float: left;
    padding: 0 20px;
    font-size: 14px;
    display: inline-block;
    width: 80px;
    text-align: center;
    line-height: 40px;
}

.header__nav-item-tip {
    width: 80px;
    height: 2px;
    background: #20A0FF;
    position: absolute;
    left: 20px;
    bottom: -2px;
}

.header__nav-item_custom_button {
    color: #f6f6f6;
    background: #20A0FF;
    border: 1px solid #20A0FF;
    width: 60px;
    margin: 0 20px;
    border-radius: 5px;
    box-shadow: 1px 1px 16px 1px #20A0FF;
}

.header__nav-item_custom_button:hover {
    color: #ffffff;
}

/* 内容区 */
.content {
    flex: 1;
    color: rgb(255,255,255);
    height: 100%;
    width: 100%;
    background-color: white;
    text-align: center;
    /*background: url() no-repeat center bottom;*/
    background-size:cover;
    position: relative;
}

/*.content__background-img{
    margin: 0 auto;
    width: 1500px;
}*/

.content__wrap {
    margin: 0px auto;
    height: 100%;
    position: relative;
    /*overflow: hidden;*/
}

.content__heading {
    margin-top: 40px;
    line-height: 20px;
    font-size: 24px;
    color: #07111b;
}

.content__underline{
    color: #20A0FF;
    font-size: 20px;
}

.content__subheading{
    font-size: 16px;
    line-height: 10px;
    color: #7a7a7a;
}

/* 主内容区 */
.content__main-content{
    margin: 0 auto;
    width: 1200px;

    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 1.6rem 1rem 1rem 1rem;
    /*border: 1px solid red;*/
}

.content__main-content_i{
    flex: 1;
    max-width: 350px;
    max-height: 150px;
    color: #07111b;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 1px 1px 20px 1px #aaa;
    margin: 1rem 1.4rem;
}

.content__main-content_i_top{
    height: 120px;
    width: 350px;
}

.content__logo{
    width: 80px;
    padding: 30px 10px 10px 10px;
}

.content__main-content_i_top_content{
    float:right;
    width: 230px;
    height: 120px;
}

.content__main-content_i_top_content p:nth-child(1){
    font-size: 18px;
    text-align: left;
    margin-top: 30px;
}

.content__main-content_i_top_content p:nth-child(2){
    font-size: 12px;
    margin: 26px 0 0 0;
    padding: 0 16px 0 0;
    text-align: left;
    line-height: 16px;
}

.content__main-content_i_bottom{
    font-size: 10px;
    width: 350px;
    height: 30px;
    padding: 8px 0 0 0;
}
.content__main-content_i_bottom div:nth-child(1){
     display: inline-block;
     float: left;
     padding: 0 10px 0 16px;
}

.content__main-content_i_bottom div:nth-child(2){
    display: inline-block;
    float: left;
    padding: 0 10px;
}

.content__main-content_i_bottom_icon{
    display: inline-block;
    float: left;
    padding-left: 60px;
}

.content__main-content_i_bottom_icon i:nth-child(1){
    display: inline-block;
    padding-right: 16px;
}

.content__main-content_i_bottom_icon i:nth-child(2){
    display: inline-block;
    padding-right: 16px;
}

/* 底部 */
footer{
    width: 100%;
    height: 50px;
    background-color: #07111b;
    color: #f6f6f6;
    line-height: 50px;
    text-align: center;
}

/*响应式*/
@media all and (max-width: 1200px) {
    /*footer{
        transform: translateY(2rem);
    }*/
    .content__main-content{
        width: 100vw;
    }
    .header__logo{
        display: none;
    }
    .content__wrap{
        width: 100vw;
    }
}
@media all and (max-width: 630px) {
    .content{
        width: 100vw;
        height: 100vh;
        overflow: auto;
    }
    /* 对于顶部导航栏 */
    .header {
        height: 60px;
        background-color: #20A0FF;
        color: #292E35;
    }
    .header__nav {
        float: right;
        margin: 10px 10px 0px 0px;
        width: 100vw;
        position: relative;
    }
    .header__nav-item {
        float: left;
        padding: 0 3rem;
        font-size: 14px;
        display: inline-block;
        width: 80px;
        text-align: center;
        line-height: 40px;
        /*border: 1px solid black;*/
    }

    .header__nav-item-tip {
        width: 80px;
        height: 2px;
        background: #20A0FF;
        position: absolute;
        left: 20px;
        bottom: -2px;
    }

    .header__nav-item_custom_button {
        color: #fff;

        width: 60px;
        margin: 0 20px;
        padding: 0 1rem;
        float: right;

    }

    .header__nav-item_custom_button:hover {
        color: #ffffff;
    }
    /* 对于主副标题的兼容 */
    .content__heading {
        margin-top: 2.6rem;
        line-height: 2rem;
        font-size: 1.6rem;
        color: #07111b;
    }

    .content__underline{
        color: #20A0FF;
        font-size: 1.6rem;
    }

    .content__subheading{
        width: 18rem;
        font-size: .9rem;
        line-height: 1.2rem;
        color: #7a7a7a;
        margin: 0 auto;
    }
    /* 主内容区 */
    .content__main-content{
        margin: 0 auto;
        width: 90vw;

        overflow: auto;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /*padding: 1.6rem 1rem 1rem 1rem;*/
        /*border: 1px solid red;*/
    }
    .content__main-content_i{
        flex: 1;
        max-width: 300px;
        max-height: 150px;
        color: #07111b;
        background-color: #ffffff;
        border-radius: 8px;
        box-shadow: 1px 1px 20px 1px #aaa;
        /*margin: 1rem 1rem;*/
    }
    .content__main-content_i_top{
        height: 120px;
        width: 300px;
    }

    .content__logo{
        float: left;
        width: 4.6rem;/* 4.6 */
        padding: 30px 1rem 10px 1rem;
    }

    .content__main-content_i_top_content{
        float:left;
        width: 200px;
        height: 120px;
    }

    .content__main-content_i_top_content p:nth-child(1){
        font-size: 1.2rem;
        text-align: left;
        margin-top: 30px;
    }

    .content__main-content_i_top_content p:nth-child(2){
        font-size: .6rem;
        margin: 26px 0 0 0;
        padding: 0 1.4rem 0 0;
        text-align: left;
        line-height: 16px;
    }

    .content__main-content_i_bottom{
        font-size: 10px;
        width: 300px;
        height: 30px;
        padding: 8px 0 0 0;
    }
    .content__main-content_i_bottom div:nth-child(1){
        display: inline-block;
        float: left;
        padding: 0 10px 0 16px;
    }

    .content__main-content_i_bottom div:nth-child(2){
        display: inline-block;
        float: left;
        padding: 0 10px;
    }

    .content__main-content_i_bottom_icon{
        display: inline-block;
        float: left;
        padding-left: 3rem;
    }

    .content__main-content_i_bottom_icon i:nth-child(1){
        display: inline-block;
        padding-right: 16px;
    }

    .content__main-content_i_bottom_icon i:nth-child(2){
        display: inline-block;
        padding-right: 16px;
    }
}
@media all and (max-width: 360px) {
    .content__main-content_i_bottom{
        font-size: 10px;
        width: 280px;
        height: 30px;
        padding: 8px 0 0 0;
    }
    .content__main-content_i_bottom div:nth-child(1){
        display: inline-block;
        float: left;
        padding: 0 10px 0 16px;
    }

    .content__main-content_i_bottom div:nth-child(2){
        display: inline-block;
        float: left;
        padding: 0 10px;
    }

    .content__main-content_i_bottom_icon{
        display: inline-block;
        float: left;
        padding-left: 2rem;
    }

    .content__main-content_i_bottom_icon i:nth-child(1){
        display: inline-block;
        padding-right: 16px;
    }

    .content__main-content_i_bottom_icon i:nth-child(2){
        display: inline-block;
        padding-right: 16px;
    }

}
