@media screen and (min-width: 750px) {
    html {
        font-size: 15px;
    }
}

@media screen and (max-width: 750px) {
    html {
        font-size: 15px;
    }
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #34495e;
    font-family: Source Sans Pro, Helvetica Neue, Arial,sans-serif;
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
}

div {
    display: block;
}

.hidden{
    overflow: hidden !important;
}

.header{
    position: fixed;
    z-index: 999;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 3px 5px #44444426;
}

.logo{
    background-image: url('../image/logo.png');
    background-repeat: no-repeat;
    line-height: 40px;
    height: 40px;
    padding-left: 50px;
    color: #34495e;
    text-decoration: none;
}

.nav{
    display: flex;
    height: 100%;
}

.nav .nav-item{
    height: 100%;
    line-height: 50px;
    margin-left: 20px;
    color: #34495e;
    text-decoration: none;
}

.nav .nav-item:hover{
    color: #20A0FF;
}

.nav .nav-item-active{
    border-bottom: 2px solid #20A0FF;
}

.drop-menu{
    height: 50px;
}

.drop-menu-item{
    display: block;
    height: 50px;
    padding: 0 20px 0 5px;
    line-height: 50px;
    border-bottom: 2px solid #20A0FF;
    background-image: url('../image/icon/arrow-right.png');
    background-size: 15px;
    background-repeat: no-repeat;
    background-position: 98% center;
}

.drop-open{
    background-image: url('../image/icon/arrow-bottom.png') !important;
}

.drop-menu .menu{
    position: absolute;
    top: 55px;
    right: -300px;
    width: 100px;
    background-color: #fff;
    border: 1px solid #ccc;
    transition: right linear 0.2s;
}

.menu-show{
    right: 10px !important;
}

.drop-menu .menu .menu-item{
    display: block;
    height: 25px;
    line-height: 25px;
    text-align: center;
    color: #34495e;
    text-decoration: none;
}

.mask{
    position: fixed;
    z-index: 888;
    top: 50px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.mask-show{
    display: block !important;
}

@media screen and (max-width: 750px) {
    .header{
        padding: 0 10px;
    }

    .nav{
        display: none;
    }
}

@media screen and (min-width: 750px) {
    .drop-menu{
        display: none;
    }
}

.content{
    padding: 50px 0;
}

.content .title{
    text-align: center;
}

.content .newspaper{
    box-shadow: 1px 2px 10px 3px #44444459;
    width: 75%;
    margin: 40px auto 0 auto;
    transition: width linear 0.2s;
}

.newspaper-over{
    width: 80% !important;
}

.content .newspaper .newspaper-time{
    display: block;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid rgba(187, 187, 187, 0.5);
    text-align: center;
}

.content .newspaper .flex{
    display: flex;
    align-items: center;
    position: relative;
}

.content .newspaper .newspaper-logo {
    height: 120px;
}

.content .newspaper .newspaper-detail{
    border-left: 1px solid rgba(187, 187, 187, 0.5);
}

.content .newspaper .newspaper-detail > div{
    padding: 5px 10px;
}

.content .newspaper .newspaper-detail > div:nth-child(1) {
    border-bottom: 1px solid rgba(187, 187, 187, 0.5);
}

.content .newspaper .newspaper-detail > div > span{
    display: block;
    margin-top: 5px;
}

.content .newspaper a:visited{
    color: rgb(0, 0, 238);
}

@media screen and (max-width: 750px) {
    .content .newspaper{
        width: 90%;
    }
    .content .newspaper .newspaper-logo{
        width: 50px;
        height: 50px;
        position: absolute;
        right: 0;
        bottom: 0;

    }
    .content .newspaper .newspaper-detail{
        border-left: none;
    }
}

@media screen and (min-width: 750px) and (max-width: 1080px) {
    
}

@media screen and (min-width: 1080px) {
    
}

.tip{
    text-align: center;
    color: #a09696;
    line-height: 40px;
}

footer{
    width: 100%;
    height: 50px;
    background-color: #07111b;
    color: #f6f6f6;
    line-height: 50px;
    text-align: center;
}