*, p {
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

body {
    letter-spacing: 0;
    overflow-x: hidden;
}

a {
    cursor: pointer;
    color: #34495e;
    text-decoration: none;
}

.filter {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
    -webkit-animation: row_ani 2s;
    -moz-animation: row_ani 2s;
    -ms-animation: row_ani 2s;
    animation: row_ani 2s;
    background-color: rgba(24, 24, 24, 0.42);
}