* {
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 750px) {
    html {
        font-size: 15px;
    }
}

@media screen and (max-width: 750px) {
    html {
        font-size: 15px;
    }
}

body {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    color: #34495e;
    font-family: Source Sans Pro, Helvetica Neue, Arial,sans-serif;
    letter-spacing: 0;
    margin: 0;
    overflow-x: hidden;
}

div {
    display: block;
}

a {
    color: #34495e;
    text-decoration: none;
}
