body {
    margin: 0;
}

.vertical-center {
    top: 50%;
    position: relative;
    transform: translateY(-50%);
}
.contentText {
    height: 90%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align: center;
}
.contentText p {
    text-align: left;
    padding: 0 10px 0 10px;
}
/*标题*/
header {
    text-align:center;
}
/*TIMELINE*/

#card1{
    min-height: 1000px;
    /*background: url(spine.png) repeat-y 650px 0;*/
    padding-top: 50px;
    /*padding-left: 160px;*/
    /*position: relative;*/

}
/*公共部分的css*/

.contentLeftItem , .contentRightItem{
    border: solid 1px;
}

.contentBotttom {
    height: 31px;
    border: solid 1px;
    transform: translateY(14px);
    /*display: flex;*/
}

.contentBotttom i {
    transform: translateY(4px);
    padding: 5px;
}
.contentBotttom .rightIcon {
    /*transform: translateX(100%) translateY(4px);*/
    float: right;
}
.time {
    display: inline-block;
    border-left: solid 1px;
    border-right:  solid 1px;
    height: 100%;
    padding: 2px 10px 0px 10px;
    /*transform: translateY(11px);*/
}

/*第一块*/
.contentItem1 {
    width: 100%;
    display: flex;
    flex-direction:row;
    align-content: space-between;
    justify-content:space-around;

}

/*左边的板块*/
.contentLeftItem {
    flex: 1;
    position: relative;
    left: 0px;
    /*width:370px;*/
    height: 470px;
    /*background: #929292;*/
    margin: 20px 0 0 30px;
    border-radius: 5px;
    color: #888;
}

.contentLeftArrow {
    position: absolute;
    height: 0px;
    border-color: transparent #e2e2e2 transparent transparent;
    border-width:  10px 0 10px 10px;
    border-style: dashed solid dashed dashed;
    border-left-color: #e2e2e2;
    left: 100%;
    top: 20px;
}

.contentLeftDot {
    width: 11px;
    height: 11px;
    border-radius: 11px;
    position: absolute;
    left: 149%;
    top: 25px;
    background: #929292;
}
/*start*/
.contentCenterDot1{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    position: absolute;
    top: 150px;
    background: #929292;
    font-size: 0.2em;
    color: white;
}
.contentCenterDot1 span{
    display: block;
    transform: translateY(5px);
}
/*分割线*/
.contentSpine {
    flex: 1;
    min-width: 100px;
    height: 600px;
    background: url(../image/about/spine.png)  repeat-y 50% 0;
}

/*右边的板块*/
.contentRightItem {
    flex: 1;
    position: relative;
    /*left: 529px;*/
    /*width:370px;*/
    height: 470px;
    /*background: #929292;*/
    margin: 20px 30px 0 0;
    border-radius: 5px;
    color: #888;
    transform: translateY(300px);

}
.contentRightArrow {
    position: absolute;
    height: 0px;
    border-color: transparent #e2e2e2 transparent transparent;
    border-width: 10px 10px 10px 0;
    border-style: dashed solid dashed dashed;
    border-right-color: #929292;
    left: -10px;
    top: 20px;

}

.contentRightDot {
    width: 11px;
    height: 11px;
    border-radius: 11px;
    position: absolute;
    left: -51%;
    top: 25px;
    background: #929292;
}

/*第二块*/
.contentItem2 {
    width: 100%;
    display: flex;
    flex-direction:row;
    align-content: space-between;
    justify-content:space-around;
}

/*第三块*/
.contentItem3 {
    width: 100%;
    display: flex;
    flex-direction:row;
    align-content: space-between;
    justify-content:space-around;
}

/*给不同的title设置不同的颜色 放在timelie最后确保覆盖*/
.itemTitle1, .itemTitle4 ,.itemTitle5{
    display: block;
    height: 45px;
    background:#FE3854;
    padding-top:10px;
    color: white;
}
.contentItem1 .contentLeftArrow,.contentItem3 .contentLeftArrow{
    border-left-color: #FE3854;
}
.contentItem2  .contentRightArrow{
   border-right-color: #FE3854;
}

.itemTitle2, .itemTitle3, .itemTitle6{
    display: block;
    height: 45px;
    background:#FF6100;
    padding-top:10px;
    color: white;
}
.contentItem1 .contentRightArrow,.contentItem3 .contentRightArrow{
    border-right-color: #FF6100;
}
.contentItem2 .contentLeftArrow{
    border-left-color: #FF6100;
}

/*圆点*/
.contentCenterDot2{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    position: absolute;
    /*top: 150px;*/
    transform: translateY(570px);
    background: #929292;
    font-size: 0.2em;
    color: white;
}
.contentCenterDot2 span{
    display: block;
    transform: translateY(5px);
}
.last {
    width: 100%;
    height: 200px;
}
/*核心贡献者部分*/
#card2 {
    text-align: center;
}

#card2 .peopleContainer {
    /*background: url('https://c1.mifile.cn/f/i/17/redminote5as/ver-feature-bg.png')no-repeat center 30px ;*/
    width: 100%;
    margin: 43px auto 0;
    text-align: center;
    overflow: hidden;

}
.container1 , .container2 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
}
.peopleContanier dl {
    width: 30%;
    height:100%;
}
.peopleContainer dl dt {
    line-height: 55px;
    padding-top: 30px;
    padding: 0px 30px 0px 60px;
    margin: 23px;
}
#card2 .peopleContainer img{
    width: 100px;
    border: solid 1px;
    border-radius: 50%;
    cursor: pointer;
}
@media screen and (max-width: 685px) {

    .contentSpine{
        /*background: url(spine.png) repeat-y 145% 0;*/
        background: url() ;
    }
    .contentRightDot,.contentLeftDot{
        display: none;
    }
}

@media screen and (max-width: 640px) {

    /*.contentItem1,.contentItem2,.contentItem3{
        width: 70%;
        display: flex;
        flex-direction:column;
        justify-content:space-between;
        align-items: center;

    }
    .contentRightItem {
        transform: translateY(-550px);
    }*/

    .contentRightDot,.contentLeftDot,.contentBotttom .rightIcon {
        display: none;
    }

}

@media screen and (max-width: 525px) {

    .contentRightDot,.contentLeftDot,.contentBotttom .rightIcon,.time{
        display: none;
    }

}
